.pageWrapper {
    padding: 90px 0;
    display: flex;
    justify-content: space-between;
}

.pageDetails {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.detailsHeader {
    font-size: 60px;
}

.detailsLink {
    color: #333D5180;
    font-size: 25px;
    margin: 30px 0;
}

.detailsDate {
    font-size: 20px;
    color: #333D5180;
}

.detailsDay {
    font-size: 30px;
    color: #333D51;
}

.detailsSplitter {
    margin: 0 7px;
}


.pageContent {
    width: 730px;
    display: flex;
    flex-direction: column;
}

.contentImg {
    max-width: 100%;
    max-height: 100%;
    border-radius: 40px;
    overflow: hidden;
}

.contentImg img {
    width: 730px;
    height: 380px;
}

.contentText {
    margin-top: 60px;
    font-size: 25px;
}