.pageWrapper {
    padding: 90px 0;
}

.pageHeader {
    margin-bottom: 75px;
    font-size: 60px;
}

.pageHeader span {
    color: #004FEC;
}

.pageNews {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.pageBtn {
    border: none;
    background: none;
    font-size: 20px;
    color: #004FEC;
    border-bottom: 2px solid transparent;
    margin-top: 60px;
}

.pageBtn:hover {
    border-bottom: 2px solid #004FEC;
    cursor: pointer;
}