.pageWrapper {
    padding: 90px 0;
}

.pageHeader {
    width: 450px;
    margin-bottom: 75px;
    font-size: 60px;
}

.pageHeader span {
    color: #004FEC;
}

.pageNews {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}