.headerWrapper {
  padding: 45px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activeLink {
  color: #004fec;
}

.headerLogo {
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}

.headerNav {
  display: flex;
  gap: 35px;
}

.headerNav a {
  font-size: 18px;
}

.headerNav a:hover {
  color: #004fec;
}
