.footerWrapper {
    padding: 55px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerLogo {
    display: flex;
    flex-direction: column;
}

.footerLogo a {
    font-size: 25px;
    font-weight: 700;
}

.footerLogo span {
    font-size: 12px;
}

.footerText {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.footerBy {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footerBy span {
    font-size: 12px;
}

.footerBy p {
    text-align: right;
    font-size: 25px;
    font-weight: 700;
    width: 150px;
}