.cardWrapper {
    width: 350px;
    height: 290px;
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    box-sizing: border-box;
}

.cardHeader {
    width: 300px;
    padding: 0 23px;
    border-left: 2px solid #004FEC;
    font-size: 25px;
    text-align: left;
}

.cardHeader:hover {
    padding-left: 25px;
    border: none;
    background: #004FEC;
    color: #fff;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 25px;
}

.cardMonth, .cardSplitter {
    font-size: 20px;
    color: #333D5180;
}

.cardSplitter {
    margin: 0 7px;
}

.cardDay {
    font-size: 30px;
    color: #333D51;
}