.pageWrapper {
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
}

.infoNumber {
    margin-bottom: 50px;
}

.infoNumber a {
    font-size: 60px;
    color: #004FEC;
}

.infoName {
    border-left: 2px solid #004FEC;
    padding-left: 23px;
    font-size: 25px;
    width: 100px;
}

.infoMail {
    margin-top: 25px;
}

.infoMail a {
    font-size: 20px;
}

.infoProf {
    color: #333D5180;
    font-size: 20px;
    margin-top: 50px;
}

.infoTech {
    font-size: 20px;
    margin-top: 25px;
}

.infoTech span {
    color: #004FEC;
}

.pagePhoto img {
    width: 300px;
    height: 390px;
}